<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <%= form.fields_for :players do |builder| %>
    <h4>Player <%= builder.index + 1 %></h4>
    <div class="form-group">
      <%= builder.label :first_name, "First name" %>
      <%= builder.text_field :first_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= builder.label :last_name, "Last name" %>
      <%= builder.text_field :last_name, class: "form-control" %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
